<h2>Contact Us</h2>

<form (ngSubmit)="form.form.valid && submitForm($event)" #form="ngForm" novalidate>
<!-- <div class="panel panel-primary"> -->
  <div class="form-content">
    <label>
      Name:
      <input type="text" name="name" id="name" [(ngModel)]= "data.name" class="form-control" placeholder="Enter your name.">
    </label><br>
    <label>
      Email:
      <input type="email" name="email" id="email" class="form-control" [(ngModel)]="data.email" placeholder="Enter your email.">
    </label><br>
    <label>
      Feedback:
      <textarea name="content" id="content" class="form-control" [(ngModel)]="data.content" placeholder="Content here."></textarea>
    </label>
    <div class="form-submit">
      <button (click)="submitForm()" type="submit">Submit</button>
    </div>
    </div>
  <!-- </div> -->
</form>

