/*.selected {
      background-color: #CFD8DC !important;
      color: white;
    }
    .heroes {
      margin: 0 0 2em 0;
      list-style-type: none;
      padding: 0;
      width: 15em;
    }
    .heroes li {
      cursor: pointer;
      position: relative;
      left: 0;
      background-color:  #BBD8DC;
      margin: .5em;
      padding: .3em 0;
      height: 10.6em;
      border-radius: 4px;
      width:20em;
    }
    .heroes li.selected:hover {
      background-color: #607D8B  !important;
      color: white;
    }
    .heroes li:hover {
      color: #607D8B;
      background-color: #DDD;
      left: .1em;
    }
    .heroes .text {
      position: relative;
      top: -3px;
    }
    .heroes .badge {
      display: inline-block;
      font-size: small;
      color: white;
      padding: 0.8em 0.7em 0 0.7em;
      background-color: #607D8B;
      line-height: 1em;
      position: relative;
      left: -1px;
      top: -4px;
      height: 1.8em;
      margin-right: .8em;
      border-radius: 4px 0 0 4px;
    }*/
body {
	padding: 50px 0px;
	float: left;
	width: 100%;
}

.center-block {
	float: center;
}

.full-width {
	width: 100%;
}

.no-padding {
	padding: 0px !important;
}

.header-links a {
	font-size: 20px;
    padding: 0px 15px;
}

.activity {
	border: 2px solid #e6e6e6;
    padding: 15px;
    box-shadow: 0px 1px 5px 0px rgba(224, 224, 224, 0.75);
    margin: 10px 0px;
}

.activity .activity-header {
	float: left;
    width: 100%;
    margin-bottom: 10px;
}

.activity .activity-meta {
	margin-left: 10px;
}

.activity .activity-footer {
	margin-top: 10px; 
}

.activity .activity-footer li {
	cursor: pointer;
}

.activity .activity-footer li .fa {
	padding-right: 5px;
}
.activity .activity-footer li.active {
	color: #e53935;
}

.stat-heading {
	font-size: 25px;
	margin-top: 50px;
	display:inline-block;
}
.panel-heading{
	column-rule-color: #e91e63; 
	background-color: #e91e63;
}
.main-body{
	background-color: black;
}