<div class="container">    
 
<h1>{{title}}</h1>
     <div class="row">
      <div class="col-sm-4">

    <ul class="heroes">
      <li *ngFor="let hero of heroes"
        [class.selected]="hero === selectedHero"
        (click)="onSelect(hero)">
        

      <div class="panel panel-primary">
        <div class="panel-heading">{{hero.title}}</div>
        <div class="panel-body"><img src="{{hero.img}}" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Price: {{hero.price}}<br>Description:{{hero.description}}<br>
        Quantity: {{hero.Quantity}}</div>
      </div><br>
        
      </li>
    </ul>
    <div *ngIf="selectedHero" >
      <h2>{{selectedHero.title}} details!</h2>
      <div><label>id: </label>{{selectedHero.id}}</div>
      <div>
        <label>title: </label>
        <input [(ngModel)]="selectedHero.title" placeholder="name"/><br>
        <label>price: </label>
        <input [(ngModel)]="selectedHero.price" placeholder="price"/><br>
        <label>Quantity: </label>
        <input [(ngModel)]="selectedHero.Quantity" placeholder="Quantity"/><br>
        <label>description: </label>
        <input [(ngModel)]="selectedHero.description" placeholder="description"/><br>
        <img src="{{selectedHero.img}} " style="width:20%"></div>
  
        <button type="button" (click)=" delete()"  name="delete">Delete</button>
      </div>
<div class="container">
  <ul class="pager">
    <li><a [routerLink]="['/product']">1</a></li>
    <li><a [routerLink]="['/product1']">2</a></li>
    <li><a [routerLink]="['/product']">3</a></li>
    <li><a [routerLink]="['/product1']">Next</a></li>
  </ul>
  </div>
</div>
      <!-- <div class="btn-toolbar" role="toolbar" style="margin: 0;">
      <div class="btn-group">
          <label style="margin-top:10px">Page {{currentIndex}}/{{pageNumber}}</label>
      </div>
      <div class="btn-group pull-right">
               <ul class="pagination" >
                  <li [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}" ><a  (click)="prevPage()" href="#">Prev</a></li>
                     <li *ngFor="let page of pagesIndex"  [ngClass]="{'active': (currentIndex == page)}">
                        <a (click)="setPage(page)" href="#" >{{page}}</a>
                     </li>
                  <li [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}" ><a   
                  (click)="nextPage()" href="#">Next</a></li>
               </ul>
            </div></div>
 -->



  

