<div class="container">    
 
<h1>{{title}}</h1>
     <div class="row">
      <div class="col-sm-4">

    <ul class="heroes">
      <li *ngFor="let hero of heroes"
        [class.selected]="hero === selectedHero"
        (click)="onSelect(hero)">
        

      <div class="panel panel-primary">
        <div class="panel-heading">{{hero.title}}</div>
        <div class="panel-body"><img src="{{hero.img}}" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Price: {{hero.price}}<br>Description:{{hero.description}}<br>
        Quantity: {{hero.Quantity}}</div>
      </div><br>
        
      </li>
    </ul>
    <div *ngIf="selectedHero" >
      <h2>{{selectedHero.title}} details!</h2>
      <div><label>id: </label>{{selectedHero.id}}</div>
      <div>
        <label>title: </label>
        <input [(ngModel)]="selectedHero.title" placeholder="name"/><br>
        <label>price: </label>
        <input [(ngModel)]="selectedHero.price" placeholder="price"/><br>
        <label>Quantity: </label>
        <input [(ngModel)]="selectedHero.Quantity" placeholder="Quantity"/><br>
        <label>description: </label>
        <input [(ngModel)]="selectedHero.description" placeholder="description"/><br>
        <img src="{{selectedHero.img}} " style="width:20%"></div>
  
        <button type="button" (click)=" delete()"  name="delete">Delete</button>
      </div>
<div class="container">
  <ul class="pager">
    <li><a [routerLink]="['/product']">1</a></li>
    <li><a [routerLink]="['/product1']">2</a></li>
    <li><a [routerLink]="['/product']">3</a></li>
    <li><a [routerLink]="['/product1']">Next</a></li>
  </ul>
  </div>
<!-- <h1>{{title}}</h1>
    
    <ul class="heroes">
      <li *ngFor="let hero of heroes"
        [class.selected]="hero === selectedHero"
        (click)="onSelect(hero)">
       <div class="container">
        <div><h3>{{hero.title}}</h3></div>
      
          <div>price:{{hero.price}}</div>
            <div>Quantity{{hero.Quantity}}</div>
              <div>description:{{hero.description}}</div>
         </div><br>
        
      </li>
    </ul>
    <div *ngIf="selectedHero">
      <h2>{{selectedHero.title}} details!</h2>
      <div><label>id: </label>{{selectedHero.id}}</div>
      <div>
        <label>title: </label>
        <input [(ngModel)]="selectedHero.title" placeholder="name"/><br>
        <label>price: </label>
        <input [(ngModel)]="selectedHero.price" placeholder="price"/><br>
        <label>Quantity: </label>
        <input [(ngModel)]="selectedHero.Quantity" placeholder="Quantity"/><br>
        <label>description: </label>
        <input [(ngModel)]="selectedHero.description" placeholder="description"/><br>
        <img src="{{selectedHero.img}} " style="width:20%"></div>
  
        <button type="button" (click)=" delete()"  name="delete">Delete</button>
      </div>

  <div class="container">
  <ul class="pager">
    <li><a [routerLink]="['/product']">prev</a></li>
    <li><a [routerLink]="['/product1']">2</a></li>
    <li><a [routerLink]="['/product']">3</a></li>
    <li><a [routerLink]="['/product1']">Next</a></li>
  </ul>
  </div>
 -->


<!-- <div class="main-body"><body >
<div class="container">    
  <div class="row">
      <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">NAIL PAINTS</div>
        <div class="panel-body"><img src="../app/pictures/paint.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Price: $88<br>Description:<br>
        Quantity: 3</div>
      </div>
      <div class="pannel-button"><button ><a [routerLink]="['/edit']" type="button" name="edit">Edit</a></button>
      <button type="button" (click)=" delete()"  name="delete">Delete</button></div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">EYE  LINER</div>
        <div class="panel-body"><img src="../app/pictures/eyeliner.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Price: $58<br>Description:<br>
        Quantity: 4</div>
      </div>
      <div class="pannel-button"><button ><a [routerLink]="['/edit']" type="button" name="edit">Edit</a></button>
      <button type="button" (click)=" delete()"  name="delete">Delete</button></div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">EYE SHADOW</div>
        <div class="panel-body"><img src="../app/pictures/eyeshadow.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Price: $66<br>Description:<br>
        Quantity: 3</div>
      </div>
    </div><div class="pannel-button"><button ><a [routerLink]="['/edit']" type="button" name="edit">Edit</a></button>
     <button type="button"(click)="delete()" name="delete">Delete</button></div>
    </div><br>
  </div>
    

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">FACE FOUNDATION</div>
        <div class="panel-body"><img src="../app/pictures/foundation.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Price: $48<br>Description:<br>
        Quantity: 12</div>
      </div>
      <div class="pannel-button"><button ><a [routerLink]="['/edit']" type="button" name="edit">Edit</a></button>
      <button type="button" (click)=" delete()"  name="delete">Delete</button></div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">FACE COMPACT</div>
        <div class="panel-body"><img src="../app/pictures/eyeliner.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Price: $68<br>Description:<br>
        Quantity: 9</div>
      </div>
      <div class="pannel-button"><button ><a [routerLink]="['/edit']" type="button" name="edit">Edit</a></button>
      <button type="button" (click)=" delete()" name="delete">Delete</button></div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">EYE MASCARA</div>
        <div class="panel-body"><img src="../app/pictures/eyeliner.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Price: $88<br>Description:<br>Quantity: 1</div>
      </div>
    </div>
    <div class="pannel-button"><button ><a [routerLink]="['/edit']" type="button" name="edit">Edit</a></button>
      <button type="button" (click)=" delete()" name="delete">Delete</button></div>
  </div>
</div><br><br>


<footer class="container-fluid text-center">
  <div class="container">
   <ul class="pager">
    <li><a [routerLink]="['/addProduct']">prev</a></li>
    <li><a [routerLink]="['/product1']">2</a></li>
    <li><a [routerLink]="['/product']">3</a></li>
    <li><a [routerLink]="['/product1']">Next</a></li>
  </ul>
  </div>
  <p>Online Store Copyright</p>  
  </footer> -->