<form (ngSubmit)="form.form.valid && submitData($event)" #form="ngForm" novalidate>

  <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Edit</h2>
  <form class="form-horizontal">
  	<div class="media-left">
      <img src="https://placehold.it/150x80?text=IMAGE"  id="img" class="img-responsive" >
    </div>
   <!--   <div *ngIf="products">
     <a *ngFor=" let product of products"> -->
     <label>
      Title:</label>
      <input type="text" name="title" id="title" [(ngModel)]="Products.title" class="form-control" >
    <br>
    <label>
      Price:</label>
      <input name="price" id="price" class="form-control"   [(ngModel)]="Products.price" placeholder="Enter your price.">
   <br>
    <label>
      Quantity:</label>
      <input type="quantity" name="Quantity" id="Quantity" [(ngModel)]="Products.Quantity" class="form-control" placeholder="Enter your quantity.">
    <br>
    <label>
      Description:</label>
      <input name="description" id="description" class="form-control" [(ngModel)]="Products.description" placeholder="description here.">
    
    <div class="form-submit">
      <button (click)="submitData()" type="submit">Submit</button>
    </div><!-- </a>
    </div> -->
  </form>
</div>

</body>
</html>
