<div class="col-lg-3 col-md-3 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                        
                      			<div class="pull-left item-image">
			<a href="/inglot-live/14-piazza-del-duomo"><img src="../app/pictures/color.jpg" alt="" itemprop="thumbnailUrl"></a>
		</div>

                        </div>